extends base.pug


block scripts 
    script(src="/static/index.js") 


block style 
    style
      include ../static/style.css

block content
    
    section#introSection 
        div  Welcome To Dance Academy
        div.small  Learn Dance

    section#missionSection
        h2    Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img 
                    img(src="/static/img/second.png")

                div.card-content 
                    p This is the best dance academy in our area.
        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img 
                    img(src="/static/img/third.png")

                div.card-content 
                    p This is the best dance academy in our area.
        div.card
            h3 Expert Teaching 
            div.card-box
                div.card-img 
                    img(src="/static/img/fourth.jpg")

                div.card-content 
                    p This is the best dance academy in our area.
    section#sponsorsSection
        h2    Our Sponsors
        div#sponsors
            img(src="/static/img/Logo1.png", alt="Sponsors Image" class="spImage")
            img(src="/static/img/Logo2.png", alt="Sponsors Image" class="spImage")
            img(src="/static/img/Logo3.png", alt="Sponsors Image" class="spImage")
            img(src="/static/img/Logo4.jpg", alt="Sponsors Image" class="spImage")
